.navbar {
    background-color:#0099FF !important;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 3px 6px 0px #999;
    height: 90px;
}

a.navbar-brand {
    color: white !important;
    font-size: 35px;
}

h4 {
    color: grey;
    font-weight: 400 !important;
    vertical-align: bottom;
    float: left;
    line-height: unset;
    margin-left: -15px;
}

.floatRightButtons {
    float: right;
    margin-right: -15px;
}

.noPadding {
    padding: 0 !important;
}

.container {
    margin-top: 50px;
}

.profilePicture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #909090;
}

.contact1 {
    background: url("../assets/contact5.jpg") no-repeat center;
    background-size: cover;
}

.contact2 {
    background: url("../assets/contact2.jpg") no-repeat center;
    background-size: cover;
}

.contact3 {
    background: url("../assets/contact3.jpg") no-repeat center;
    background-size: cover;
}

.contact4 {
    background: url("../assets/contact4.jpg") no-repeat center;
    background-size: cover;
}

.contact5 {
    background: url("../assets/contact1.jpg") no-repeat center;
    background-size: cover;
}

#letterRow {
    background: #E8E8E8;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    margin-top: 20px;
}

#profileRow {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

#profilePicture  {
    border-radius: 50%;
    line-height: 0.8px;
}

.addButtonBackground {
    background: white;
    height: 40px;
    width: 40px;
    position: relative;
    margin: auto;
    border-radius: 50%;
    top: -35px;
    left: 40px;
    border: 0.1px solid #E8E8E8
}

.addButtonBackground:hover {
    cursor: pointer;
}

#addButton {
    line-height: 0.8px;
    height: 18px;
    width: 18px;
    position: absolute;
    margin: auto;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#contactPlaceHolder {
    border-radius: 50%;
    line-height: 0.8px;
    height: 115px;
    width: 115px;
}

.parent {
    width: 100%;
    height: 80px;
    display: table;
}

.parent > .child {
    display: table-cell;
    vertical-align: middle;
}

.parent > .child > p {
    margin: 0px;
    padding: 0px;
}

#deleteIcon, #addButton:hover {
    cursor: pointer;
}

.modal-body-image {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}

#contactPlaceHolder {
    position: relative;
    top: 0;
    left: 0;
    border: 0.1px solid #E8E8E8;
}

.addContactForm {
    margin: 20px 50px;
}

.formButton {
    width: 150px;
}

.formSubmitButtons {
    text-align: right;
}

#deleteContact {
    text-align: center;
}

#myselectFilter {
    height: 38px;
    width: auto;
    border-color: #f8f9fa;
    border-radius: 4px;
    background: rgb(248, 249, 250);
    cursor: pointer;
}

#myselectFilter:hover {
    background: #E8E8E8;
}

#addContactModal {
    margin-top: 200px ;
}

#deleteContactModal {
    margin-top: auto ;
    margin-bottom: auto;
    height: 250px;
}

.dropdown-toggle {
    background: white;
    color: #909090;
    border: 1px solid #909090;
}

.dropdown-toggle:hover  {
    background: white;
    color: #909090;
    border: 1px solid #909090;
}

.caret {
    border-left: 1px solid #909090;
    padding-left: 10px;
    margin-left: 20px;
}

li {
    padding: 0 0 0 10px;
    margin: 0;
    line-height: 32px;
    font-weight: 400;
    vertical-align: center;
}

li:hover {
    background: white;
    cursor: pointer;
}

.firstIndex {
    border-bottom: 1px solid #909090;
}

#AddContactButton {
    margin-left: 10px;
}

.modal-header {
    margin: 0 20px;
    height: 70px;
    line-height: 50px;
    vertical-align: middle;
}

.close {
    float: right;
    font-weight: 900;
    color: #909090;
    font-size: 30px;
}

.modal-header .close {
    margin: -30px -40px auto auto;
}

.form-control {
    border-color: #E8E8E8;
}

::placeholder {
    color: #909090 !important;
}

.formSubmitButtons {
    margin-right: 50px;
}

.formButton {
    width: 150px;
    height: 40px;
}

.btn-outline-primary {
    margin-left: 10px;
}

.modal-body p {
    margin: 0 110px 20px 110px;
}

.dropdown-toggle::after {
    display: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    background: white;
    color: #909090;
}

.AddContactPlusIcon {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    display: none;
    margin: 0 10px;
}

/* Media Queries */
@media(max-width: 769px) {
    .navbar {
        height: 65px;
    }
    a.navbar-brand {
        font-size: 20px;
    }
    h4 {
        margin-left: 0px;
        font-weight: 300 !important;
    }

    #AddContactButton {
        display: none;
    }

    .AddContactPlusIcon {
    display: inline-block;
    }

    #letterRow {
    height: 20px;
    line-height: 20px;
    }

    .profilePicture {
    height: 70px;
    width: 70px;
    }

    .parent > .child > p {
        font-size: 12px;
    }

    #addContactModal {
        margin-top: 50px ;
        margin: auto;
    }

    #contactPlaceHolder {
    height: 100px;
    width: 100px;
        margin-bottom: -40px;
    }

    .addContactForm {
        margin: 10px 10px;
    }

    .addButtonBackground {
        top: unset;
    }

    .formSubmitButtons {
        margin: 0px;
        text-align: center;
    }

    .formButton {
        width: 138px;
    }

    .modal-body p {
        margin: 5px 40px 20px 40px;
    }

}
